<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/../css/cs-skin-elastic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/../css/style.css}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/spedytorHome"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-title">Details</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Drivers</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">All Drivers</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">On road</a></li>
                        <li><i class="fa fa-bars"></i><a href="ui-tabs.html">At home</a></li>
                        <li><i class="fa fa-id-card-o"></i><a href="ui-cards.html">Old drivers</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-truck"></i>Trucks</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a href="/truckList">List of trucks</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Add truck</a></li>
                        <li><i class="fa fa-bars"></i><a href="ui-tabs.html">Statistics</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-road"></i>Expeditions</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">List of Expeditions</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">New Expedition</a></li>
                        <li><i class="fa fa-bars"></i><a href="ui-tabs.html">Statistics</a></li>
                    </ul>
                </li>

                <li class="menu-title">Icons</li><!-- /.menu-title -->

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Icons</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-fort-awesome"></i><a href="font-fontawesome.html">Font Awesome</a>
                        </li>
                        <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Themefy Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a href="widgets.html"> <i class="menu-icon ti-email"></i>Widgets </a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html">Chart JS</a></li>
                        <li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html">Flot Chart</a></li>
                        <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Peity Chart</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>
                        <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>
                    </ul>
                </li>
                <li class="menu-title">Extras</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>
                        <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>
                        <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href=".github"><img src="../static/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href=".github"><img src="../static/images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..."
                                   aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>

                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">3</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                        </div>
                    </div>

                    <div class="dropdown for-message">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-envelope"></i>
                            <span class="count bg-primary">4</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">You have 4 Mails</p>
                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar"
                                                                    src="../static/images/avatar/1.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                    <p>Hello, this is an example msg</p>
                                </div>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar"
                                                                    src="../static/images/avatar/2.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </div>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar"
                                                                    src="../static/images/avatar/3.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                    <p>Hello, this is an example msg</p>
                                </div>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar"
                                                                    src="../static/images/avatar/4.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="../static/images/admin.jpg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa-user"></i>My Profile</a>

                        <a class="nav-link" href="#"><i class="fa fa-bell-o"></i>Notifications <span
                                class="count">13</span></a>

                        <a class="nav-link" href="#"><i class="fa fa-cog"></i>Settings</a>

                        <a class="nav-link" href="#"><i class="fa fa-power-off"></i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Forms</a></li>
                                <li class="active">Basic</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">

            <div class="row">
                <!-- Adding form for new fuel -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Add Truck</strong>
                        </div>
                        <div class="card-body card-block">
                            <form th:action="@{/expedition/addFuel}" th:object="${newFuel}" method="post"
                                  enctype="multipart/form-data" class="form-horizontal">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="id-input"
                                                                             class=" form-control-label">Id</label>
                                            </div>
                                            <div class="col-12 col-md-9"><input th:field="*{id}" type="text"
                                                                                id="id-input"
                                                                                placeholder=""
                                                                                class="form-control"
                                                                                readonly>
                                                <small class="form-text text-muted">Id of the fuel</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="expedition-input"
                                                                             class=" form-control-label">Expedition</label>
                                            </div>
                                            <div class="col-12 col-md-9"><input th:field="*{expedition}" type="text"
                                                                                id="expedition-input"
                                                                                placeholder="Number"
                                                                                class="form-control"
                                                                                readonly>
                                                <small class="form-text text-muted">Expedition id</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="place-input"
                                                                             class=" form-control-label">Place</label>
                                            </div>
                                            <div class="col-12 col-md-9"><input th:field="*{placeOfRefueling}"
                                                                                type="text"
                                                                                id="place-input"
                                                                                placeholder="eg Poznań"
                                                                                class="form-control">
                                                <small class="form-text text-muted">City of fueling</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="liters-input"
                                                                             class=" form-control-label">Liters</label>
                                            </div>
                                            <div class="col-12 col-md-9"><input th:field="*{liters}"
                                                                                type="text"
                                                                                id="liters-input" placeholder="eg 124"
                                                                                class="form-control">
                                                <small class="form-text text-muted">Number of liters fueld</small>
                                            </div>
                                        </div>
                                         <div class="row form-group">
                                                <div class="col col-md-3"><label for="cost-input"
                                                                                 class=" form-control-label">Cost</label>
                                                </div>

                                             <div class="col-12 col-md-9">
                                                <div class="row">
                                                    <div class="col-12 col-md-9">
                                                                <input th:field="*{cost}" type="text"
                                                                                                id="cost-input" placeholder="eg 1457.45"
                                                                                                class="form-control">
                                                        <small class="form-text text-muted">Total cost for fuel</small>
                                                    </div>

                                                    <div class="col col-md-3 ">
                                                        <select th:field="*{currencyCode}" data-placeholder="Choose a Currency..." class="standardSelect form-control" id="payment-currency-input">
                                                            <option value="" label="default"></option>
                                                            <option th:each="currencyCodeType:${currencyCodeTypeList}" th:value="${currencyCodeType}" th:text="${currencyCodeType}" ></option>
                                                        </select>
                                                    </div>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="kilometers-input"
                                                                             class=" form-control-label">Kilometers</label>
                                            </div>
                                            <div class="col-12 col-md-9"><input th:field="*{kilometers}" type="text"
                                                                                id="kilometers-input"
                                                                                placeholder="eg 440"
                                                                                class="form-control">
                                                <small class="form-text text-muted">Number of kilometers while loading</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="payment-input"
                                                                             class=" form-control-label">Payment</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input th:field="*{paymentMethod}" type="text"
                                                                                id="payment-input"
                                                                                placeholder="eg cash"
                                                                                class="form-control">
                                                <small class="form-text text-muted">Payment method</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="date-input"
                                                                             class=" form-control-label">Date</label>
                                            </div>
                                            <div class="col-12 col-md-9"><input th:field="*{dateOfFueling}" type="date"
                                                                                id="date-input" placeholder=""
                                                                                class="form-control">
                                                <small class="form-text text-muted">Dote of fuling</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="full-input"
                                                                             class=" form-control-label">Full</label>
                                            </div>
                                            <div class="col-12 col-md-9"><input th:field="*{refuelingToFull}"
                                                                                type="text"
                                                                                id="full-input" placeholder="eg true or false"
                                                                                class="form-control">
                                                <small class="form-text text-muted">Fueling tank to full?</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Fuelings of expedition </strong>
                        </div>
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th>Fueling id</th>
                                    <th>Expedition</th>
                                    <th>Place</th>
                                    <th>Liters</th>
                                    <th>Cost</th>
                                    <th>Currency</th>
                                    <th>Kilometers</th>
                                    <th>Payment</th>
                                    <th>Date</th>
                                    <th>Full</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="fuel : ${fuelList}">
                                    <td><span class="serial" th:text="${fuel.id}">Id</span></td>
                                    <td><span class="serial" th:text="${fuel.expedition.getId()}">Id</span></td>
                                    <td><span class="product"
                                              th:text="${fuel.placeOfRefueling}">Place of Refueling</span>
                                    </td>
                                    <td><span class="count" th:text="${fuel.liters}">Number of Liter</span></td>
                                    <td><span class="count" th:text="${fuel.cost}">Total cost</span></td>
                                    <td><span class="count" th:text="${fuel.currencyCode}">Currency</span></td>
                                    <td><span class="count" th:text="${fuel.kilometers}">Kilometers on gauge</span></td>
                                    <td><span class="count" th:text="${fuel.paymentMethod}">Payment Method</span></td>
                                    <td><span class="count" th:text="${fuel.dateOfFueling}">Date</span></td>
                                    <td><span class="product"
                                              th:text="${fuel.refuelingToFull}">Was is fueled to full</span>
                                    </td>
                                    <td><a class="px-1 fa fa-gear" th:href="@{/expedition/addFuel/{fuelId} (fuelId=${fuel.id})}"  title="fuel"></a></td>
                                    <!--<td><a class="btn btn-secondary active" role="button" aria-pressed="true" th:href="@{/fuel/add/{id}(id=${fuel.id})}">Fuel details</a></td>-->
                                </tr>

                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div>
            </div>

        </div><!-- .animated -->
    </div><!-- .content -->

    <div class="clearfix"></div>

    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2018 Ela Admin
                </div>
                <div class="col-sm-6 text-right">
                    Designed by <a href="https://colorlib.com">Colorlib</a>
                </div>
            </div>
        </div>
    </footer>

</div><!-- /#right-panel -->

<!-- Right Panel -->

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<!--<script src="../static/js/main.js"></script>-->
<script th:src="@{/../js/main.js}"></script>
<!--th:href="@{/../css/style.css}-->

</body>
</html>
